# Reference: https://github.com/i3/i3/blob/next/etc/config
enable-normalization-flatten-containers = false
enable-normalization-opposite-orientation-for-nested-containers = false

# Mouse follows focus when focused monitor changes
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

automatically-unhide-macos-hidden-apps = true


[gaps]
    inner.horizontal = 10
    inner.vertical =   10
    outer.left =       0
    outer.bottom =     0
    outer.top =        0
    outer.right =      0


[mode.main.binding]
	# See: https://nikitabobko.github.io/AeroSpace/goodies#open-a-new-window-with-applescript


	alt-enter = 'exec-and-forget alacritty msg create-window || open -na alacritty'

	alt-b = '''exec-and-forget osascript -e '
	tell application "Google Chrome"
	    make new window
	    activate
	end tell'
	'''

	#i3 maximize-minimize
	alt-m = 'fullscreen'


	#i3 quit cmd
	alt-shift-q = 'close --quit-if-last-window'	

	# i3 wraps focus by default
	alt-j =         ['focus --boundaries-action wrap-around-the-workspace down', 'move-mouse window-lazy-center']
	alt-k =         ['focus --boundaries-action wrap-around-the-workspace up', 'move-mouse window-lazy-center']
	alt-l =         ['focus --boundaries-action wrap-around-the-workspace right', 'move-mouse window-lazy-center']
	alt-h = 	    ['focus --boundaries-action wrap-around-the-workspace left', 'move-mouse window-lazy-center']
	alt-left = 	    ['focus --boundaries-action wrap-around-the-workspace dfs-next', 'move-mouse window-lazy-center']
	alt-right = 	['focus --boundaries-action wrap-around-the-workspace dfs-prev', 'move-mouse window-lazy-center']

	alt-shift-j = 'move down'
	alt-shift-k = 'move up'
	alt-shift-l = 'move right'
	alt-shift-h = 'move left'

	# Consider using 'join-with' command as a 'split' replacement if you want to enable
	# normalizations
	# alt-h = 'split horizontal'
	# alt-v = 'split vertical'

	alt-f = 'fullscreen'

	alt-s = 'layout v_accordion' # 'layout stacking' in i3
	alt-w = 'layout h_accordion' # 'layout tabbed' in i3
	alt-e = 'layout tiles horizontal vertical' # 'layout toggle split' in i3

	alt-shift-space = 'layout floating tiling' # 'floating toggle' in i3

	alt-1 = 'workspace 1'
	alt-2 = 'workspace 2'
	alt-3 = 'workspace 3'
	alt-4 = 'workspace 4'
	alt-5 = 'workspace 5'
	alt-6 = 'workspace 6'
	alt-7 = 'workspace 7'
	alt-8 = 'workspace 8'
	alt-9 = 'workspace 9'
	alt-0 = 'workspace 10'

	alt-shift-1 = 'move-node-to-workspace 1'
	alt-shift-2 = 'move-node-to-workspace 2'
	alt-shift-3 = 'move-node-to-workspace 3'
	alt-shift-4 = 'move-node-to-workspace 4'
	alt-shift-5 = 'move-node-to-workspace 5'
	alt-shift-6 = 'move-node-to-workspace 6'
	alt-shift-7 = 'move-node-to-workspace 7'
	alt-shift-8 = 'move-node-to-workspace 8'
	alt-shift-9 = 'move-node-to-workspace 9'
	alt-shift-0 = 'move-node-to-workspace 10'

	alt-shift-c = 'reload-config'

	alt-r = 'mode resize'

[mode.resize.binding]
    h = 'resize width -50'
    j = 'resize height +50'
    k = 'resize height -50'
    l = 'resize width +50'
    enter = 'mode main'
    esc = 'mode main'
